/*!///////////////////////////////////////////////////////////////////////////
//  	                                                                    //
//    	                            _oo0oo_                                 //
//    	                           o8888888o                                //
//    	                           88" . "88                                //
//    	                           (| -_- |)                                //
//    	                           0\  =  /0                                //
//    	                         ___/`---'\___                              //
//    	                       .' \\|     |// '.                            //
//    	                      / \\|||  :  |||// \                           //
//    	                     / _||||| -:- |||||- \                          //
//    	                    |   | \\\  -  /// |   |                         //
//    	                    | \_|  ''\---/''  |_/ |                         //
//    	                    \  .-\__  '-'  ___/-. /                         //
//    	                  ___'. .'  /--.--\  `. .'___                       //
//    	               ."" '<  `.___\_<|>_/___.' >' "".                     //
//    	              | | :  `- \`.;`\ _ /`;.`/ - ` : | |                   //
//    	              \  \ `_.   \_ __\ /__ _/   .-` /  /                   //
//    	          =====`-.____`.___ \_____/___.-`___.-'=====                //
//    	                            `=---='                                 //
//  	                                                                    //
******************************************************************************
//                                                                          //
//                           niCons Free by @nintrea                        //
//                                                                          //
******************************************************************************
// * Version: 0.0.1                                                         //
// * License: https://github.com/nintrealab/nintrea-icons/blob/main/LICENSE //                                                                          
// * founder: https://github.com/sophatleat                                 //                                          
// * Location: Cambodia                                                     //                      
// * github: https://github.com/nintrealab/nintrea-icons                    //                                                          
// * Buy me a cup coffee: ABA: 001 270 139/ 002 580 343                     //                                                      
//                                                                          //  
//////////////////////////////////////////////////////////////////////////////

*/


// merge all style together​ only one file
@import "var";
@import "root";

i,
font,
span,
.#{$css-prefix}, 
.#{$css-prefix}r,
.#{$css-prefix}s,
.#{$css-prefix}b,
.#{$css-prefix}d
{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

/*!
 * niCons all Icons
 * 
*/
@import "icons";
/*!
 * niCons brand icon
 * 
*/
@import "brand";
/*!
 * niCons solid icon
 * 
*/
@import "solid";
/*!
 * niCons regular icon
 * 
*/
@import "regular";
/*!
 * niCons light icon
 * 
*/
@import "light";
/*!
 * niCons Colors
 * 
*/
@import "colors";
/*!
 * niCons font
 * 
*/
@import "font";
/*!
 * niCons layout Control
 * 
*/
// @media
@import "layout";


/*!
*******************************************************************************************************
* to compile this scss to css just follow up this command                                             *
*******************************************************************************************************
*
*   you have to instal npm first
*   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*   #   $   npm install                                                                               #
*   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*
*   then install sass from npm 
*   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*   #   $   npm install -g sass                                                                       #
*   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*  
*   to compile this scss to css
*   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*   #   $   sass --watch assets/scss/_all.scss:assets/css/nintrea@icons.css                           #
*   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*
*   to compile this scss to min.css
*   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*   #   $   sass --watch assets/scss/_all.scss:assets/css/nintrea@icons.min.css --style compressed    #
*   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   
*
*******************************************************************************************************
*/